@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Chivo", sans-serif;
}

.text-carousel .swiper {
  height: 120px;
  width: fit-content;
  margin-left: 0;
}
.text-carousel .swiper-wrapper {
  height: fit-content;
}
.text-carousel .swiper-slide {
  padding-top: 5px;
  height: fit-content !important;
  color: #a6a4a5;
}
.text-carousel .swiper-slide-next {
  color: #646162;
}
.text-carousel .swiper-slide-active {
  color: rgba(3, 7, 18, 1);
}
.project .swiper-pagination {
  bottom:0px;
  text-align:left;
  padding-inline:10px;
}
textarea {
  resize: none;
}
